/* ==========JS EXAM START============= */
.meal:hover .meal-layer {
  top: 0;
}
.meal-layer {
  width: 100%;
  height: 100%;
  background-color: #9df173ca !important;
  top: 100%;
  transition: 0.5s;
}
.meal {
  cursor: pointer;
}
.icon,
.ingClick {
  cursor: pointer;
}
.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* ==========JS EXAM END============= */
